# Supabase Cloud
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Claude API
ANTHROPIC_API_KEY=

OPENROUTER_API_KEY=

# Remote MetaFlow architect microservice
NEXT_PUBLIC_METAFLOW_COMPUTE_URL=https://metaflow.pavandongare.com
